*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    font-family: var(--font--family);

}
:root{
    --color--neutral--black:#000000;
    --color--neutral--white:#FFFFFF;
    --primary--color:#B88E2F;
    --color--neutral--yellow:#FFF3E3;

    --font--size--h2--big:40px;
    --font--size--h2--small:32px;

    --font--size--h3:24px;

    --font--size--p--medium:18px;
    --font--size--p--small:16px;
    

    --font--size--button:16px;



    --font--family:'Poppins, sans-serif';

}