header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}
.nav-header ul li{
    list-style: none;
    color: var(--color--neutral--black);
    font-size: 18px;
}
.nav-header ul a{
    color: var(--color--neutral--black);
    text-decoration: none;
}
.nav-header-icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.nav-header-icons  li{
    list-style: none;
}