@import url(./global.css);

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 38px 0px;
    
}
.nav-header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}
.nav-header ul li{
    list-style: none;
    color: var(--color--neutral--black);
    font-size: 18px;
}
.nav-header ul a{
    color: var(--color--neutral--black);
    text-decoration: none;
}
.nav-header-icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.nav-header-icons  li{
    list-style: none;
}

/*  FIM DO HEADER */

.main{
    background: url(../assets/images/img-main.svg);
    width: 100%;
    height: 713px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; /* centraliza o conteúdo verticalmente */
    z-index: 1;
}

.discover-container{
    box-sizing: border-box;
    position: relative;
    height: 443px;
    background-color:var(--color--neutral--yellow);
    z-index: 2; 
    margin: 153px 170px 117px 0px;
    border-radius: 10px;

}
.discover-content{
    /* box-sizing: border-box; */
    padding: 62px 72px 37px 39px;
}
.discover-content h1{
    width: 402px;
    color: var( --primary--color);
    text-transform: capitalize;
    margin-bottom: 29px;
    font-size: 52px;
    font-weight: bold;

}
.discover-content p:nth-last-child(2){
    width: 400px;
    font-size: var( --font--size--p--medium);
    color: var(--color--neutral--black);
    margin-bottom: 57px;
}
.new-arrival{
    color: var(--color--neutral--black);
    font-size: var( --font--size--p--small);
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 4px;
}
.btn-discover{
    background-color: var(--primary--color);
    text-transform: uppercase;
    color: var( --color--neutral--white);
    padding: 25px 72px;
  
}